body{
    color: black;
    background: rgb(97, 0, 97)
    margin: 0px;
    font-family: "Caveat", cursive;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 3px black;
    padding: 20px;
    font-size: 32px;
    color: black;
}

.chamada{
    background: rgb(165, 102, 165);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}
.categoria{
    background-color: black;
}